<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form>
      <h2>"Enter your phrase:"<input type="user_phrase" name="string"></h2>
      <input type="submit" name="Submit">
    </form>
  </body>
</html>